1. Write a code to create a string with your name and print it?

In [1]:
name = "kaif"
print(name)

kaif

2.  Write a code to find the length of the string "Hello World"?

In [2]:
string = "Hello World"
print(len(string))

11

3. Write a code to slice the first 3 characters from the string "Python Programming"?

In [3]:
string = "Python Programming"
print(string[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase?

In [4]:
string = "hello"
print(string.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [5]:
string = "I like apple"
new_string = string.replace("apple", "orange")
print(new_string)

I like orange

In [6]:
6. Write a code to create a list with numbers 1 to 5 and print it?

Object `it` not found.

In [7]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7.  Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [8]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [9]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [10]:
my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].?

In [12]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]